/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.idea/
public/assets/.DS_Store
public/php_errors.log
template/
public/assets/images/post/
public/assets/images/mockup/
public/assets/images/albums/
public/assets/images/events/
public/assets/images/videos/audio.mp3
public/assets/images/videos/video-call.mp4
public/assets/images/videos/video-feed.mp4
storage/logs/*.log
public/blog_images/
users_x.json
/resources/books/anne
/resources/books/fast
/resources/books/twain
php_errors.log
/storage/app/public/books/book_*
/storage/app/public/books/[A-z]*
storage/app/public/ai-images/render-log.json
storage/app/public/ai-images/*-*-*-*-*.jpg
/storage/app/public
/public/assets/fontawesome
